<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarCombo" data-navbar-top="combo" data-move-target="#navbarVerticalNav">
    <div class="navbar-logo" style="min-width: 128px">
        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#@navbarTogglerTarget" aria-controls="@navbarTogglerTarget" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
        <a class="navbar-brand" href="/">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h5 class="logo-text">姗姗跑步</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
        <ul class="navbar-nav navbar-nav-top" id="navbarTopNav">
            @foreach (var item in menuItems)
            {
                <li class="nav-item">
                    <NavLink class="nav-link lh-1" href="@item.Url" Match="@item.Match" role="button">
                        <span class="uil fs-8 me-2 @item.Icon"></span>
                        @item.Name
                    </NavLink>
                </li>
            }
        </ul>
    </div>
    <ul class="navbar-nav navbar-nav-icons flex-row" style="min-width: 128px">
    </ul>
</nav>

@code {
    [Parameter]
    public Boolean HasVerticalNavbar { get; set; } = false;

    private string navbarTogglerTarget => HasVerticalNavbar ? "navbarVerticalCollapse" : "navbarTopCollapse";

    record MenuItem(string Name, string Icon, string Url, NavLinkMatch Match);

    List<MenuItem> menuItems = [
        new("里程", "uil-analytics", "/", NavLinkMatch.All),
        new("晒图", "uil-image", "/photos", NavLinkMatch.Prefix)
    ];
}